* {
  margin: 0;
  padding: 0;
}

:root {
  /* primary */
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* neutral */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  position: relative;
}

.img-fluid {
  position: relative;
}

.numbers {
  position: absolute;
  z-index: 2;
  display: flex;
  border: none;
  /* top: 2rem; */
  top: 4%;
  left: 25%;
  /* right: 25%; */
}

.number {
  border: solid;
  border-width: 1px;
  border-color: white;
  margin: 0.4em;
  padding: 0.3em 0.8em;
  border-radius: 3em;
  color: white;
}

.card {
  border-radius: 1em;
  background-color: white;
  margin-top: -19.5%;
  margin-left: 1em;
  margin-right: 1em;
  color: var(--Marine-blue);
}

.card-text {
  width: 15em;
  color: var(--Cool-gray);
}

.card p {
  color: var(--Cool-gray);
}

/* .card-body {
  border-radius: 1em;
  margin: auto;
  background-color: white;
} */

.container-fluid {
  background-color: var(--Light-blue);
  height: 100vh;
}

.foot {
  background-color: white;
  /* border: solid; */
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 50%; */
}

.next-btn {
  /* position: absolute;
    right: 1rem;
    bottom: 1rem; */
  /* height: 3em; */
  background-color: transparent !important;
  background-color: var(--Marine-blue) !important;
}

/* .next-btn:active {
  background-color: var(--Marine-blue);
}

.next-btn::after {
  background-color: var(--Marine-blue);
} */

.arcade {
  margin: 0.5em;
  margin-top: 0;
  padding: 0em;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: var(--Cool-gray);
  align-items: start;
  cursor: pointer;
}

.plan-imgs {
  padding: 1em;
}

.plans {
  padding-top: 1em;
  padding-bottom: 0;
}

.plansAll {
  margin-top: 1em;
}
.plan-title {
  margin: 0;
  /* padding: 0; */
}

.toggler {
  align-items: center;
  justify-content: center;
  padding: 0.5em 0;
  margin: 0.5em;
  background-color: var(--Light-blue);
  border-radius: 0.4em;
}

.form-check,
.form-switch {
  padding-left: 0;
}

#toggleSwitch {
  margin-left: 1em;
  margin-right: 1em;
}

.yearly {
  margin: 0;
  padding: 0;
}

.yearly:last-child {
  margin-bottom: 0.5em;
}

.services {
  /* margin: 0;
  padding: 0; */
  display: flex;
  margin: 1em 0em;
  padding: 1em 0em;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.check-box {
  margin: 0em 0.7em;
}

#flexCheckDefault {
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}

.serviceTexts {
  text-align: start;
  align-self: flex-start;
  /* width: 17em; */
  margin: 0;
  padding: 0;
}

.paras {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.service-price {
  margin-left: 0.3em;
  margin-top: 0.5em;
  padding: 0;
  align-self: flex-end;
}

.calculations {
  background-color: var(--Light-blue);
  border-radius: 1em;
  padding: 0em 1em;
}

.planFlex {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.plancalculation {
  margin-bottom: 0;
  padding-bottom: 0;
}
.topFlex {
  justify-content: space-between;
  align-items: center;
  border-bottom: solid;
  border-bottom-width: 90%;
}

.block {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.Addcalculation {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 1em 0em;
  justify-content: space-between;
}

.totaled {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

#thank-you {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 3em 0em;
}

.thankyou-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#thank-you p {
  width: 19em;
}

.back-btn {
  background-color: transparent !important;
  color: var(--Cool-gray) !important;
  border: none;
}

h5 {
  font-weight: 700;
}

h6 {
  font-weight: 500;
}

.services p {
  width: 14em;
  font-size: 0.9em;
}

.desk-img {
  display: none;
}

.steps {
  display: none;
}

@media (min-width: 1010px) {
  .img-fluid {
    display: none;
  }

  .desk-img {
    display: block;
    position: absolute;
    height: 94%;
    /* top: 17%;
    bottom: 20%; */
    margin-left: 1em;
    margin-top: 1em;
    object-fit: contain;
    z-index: 5;
  }

  .numbers {
    flex-direction: column;
    z-index: 9;
    top: 21%;
    left: 23%;
  }

  .number {
    margin-bottom: 1.2em;
  }

  .steps {
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 21.3%;
    left: 28%;
    z-index: 9;
  }

  .step {
    margin-bottom: 0.8em;
    padding: 0;
    color: var(--Cool-gray);
  }

  .mainStep {
    color: white;
  }

  .card {
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    bottom: 15%;
    margin: 0;
    padding: 0;
  }

  .foot {
    position: absolute;
    width: auto;
    bottom: 17%;
    right: 25%;
    left: 44%;
    z-index: 9;
  }

  .card-body {
    z-index: 6;
    margin-left: 20em;
    padding-top: 3em;
    padding-right: 4em;
  }

  .card-text {
    width: 100%;
  }

  .back-btn {
    visibility: hidden;
  }

  .plans {
    display: flex;
    flex-direction: row;
    margin-left: -0.5em;
    margin-bottom: 1em;
  }

  .arcade {
    display: flex;
    flex-direction: column;

    width: 19em;
  }

  .plansAll {
    margin-left: 1em;
  }

  .servicesMain {
    margin-top: 3em;
  }

  #flexCheckDefault {
    margin: 0em 0.8em;
  }

  .service-price {
    margin-left: 3.9em;
  }

  .calculations {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  #thank-you {
    padding: 2em;
    margin-top: 10em;
    margin-left: 19em;
    /* margin-bottom: 4em; */
    padding-left: 0em;
  }

  #thank-you p {
    width: 32em;
    padding: 0em 2em;
    text-align: center;
  }
}
